<a href="https://colab.research.google.com/github/JhonaGo/BI-Tools/blob/main/Catalogue_Framework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Need to import to use date time
from datetime import datetime, date

# need to import for working with pandas
import pandas as pd

# need to import to use pyspark
from pyspark.sql import Row

# need to import for session creation
from pyspark.sql import SparkSession

# creating the session
spark = SparkSession.builder.getOrCreate()

Creacion de catalogos

In [ ]:
# pyspark dataframe
rdd = spark.sparkContext.parallelize([
    (1, 4., 'GFG1', date(2000, 8, 1), datetime(2000, 8, 1, 12, 0)),
    (2, 8., 'GFG2', date(2000, 6, 2), datetime(2000, 6, 2, 12, 0)),
    (3, 5., 'GFG3', date(2000, 5, 3), datetime(2000, 5, 3, 12, 0))
])
df = spark.createDataFrame(rdd, schema=['a', 'b', 'c', 'd', 'e'])
df

# show table
df.show()

# show schema
df.printSchema()

+---+---+----+----------+-------------------+
|  a|  b|   c|         d|                  e|
+---+---+----+----------+-------------------+
|  1|4.0|GFG1|2000-08-01|2000-08-01 12:00:00|
|  2|8.0|GFG2|2000-06-02|2000-06-02 12:00:00|
|  3|5.0|GFG3|2000-05-03|2000-05-03 12:00:00|
+---+---+----+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

Considerar que el catalogo inicial esta en formato de excel. Para ello hay que seguir una serie de pasos para poder convertilo en un esquema Spark.

In [ ]:
from pyspark import pandas as ps

/usr/local/lib/python3.11/dist-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [ ]:
df_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2245 entries, 0 to 2244
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   key              2244 non-null   object
 1   Site             2245 non-null   object
 2   Holding          2245 non-null   object
 3   identificador    2132 non-null   object
 4   descripcion      2245 non-null   object
 5   CODIGO           2006 non-null   object
 6   codigo_anterior  53 non-null     object
 7   EAN              671 non-null    object
 8   Factor_Caja      2202 non-null   object
dtypes: object(9)
memory usage: 158.0+ KB

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import DoubleType, LongType, StructField, StructType, StringType

# Read the Excel file into a Pandas DataFrame
df_pd = pd.read_excel('/content/drive/Shareddrives/Catalogos_SO/Prod_Holding.xlsx')

# Define the desired schema explicitly, accommodating potential mixed types
schema = StructType([
    StructField("Site", StringType(), True),
    StructField("Holding", StringType(), True),
    StructField("identificador", StringType(), True),


])

# Convert the Pandas DataFrame to PySpark DataFrame using the defined schema
df_spark = spark.createDataFrame(df_pd, schema=schema)

df_spark.show()

+--------------------+-------+-------------+
|                Site|Holding|identificador|
+--------------------+-------+-------------+
|1010BIG ROLL 4/40...|    MTY|        ABEJA|
|1011BIG ROLL 6/55...|    MTY|        ABEJA|
|3114COMBO BIG ROL...|    MTY|        ABEJA|
|1019ELITE COLOR 4...|    MTY|        ABEJA|
|2243ELITE GOLD 4/...|    MTY|        ABEJA|
|2985ELITE MASCARI...|    MTY|        ABEJA|
|3107ELITE SERVILL...|    MTY|        ABEJA|
|3107ELITE SERVILL...|    MTY|        ABEJA|
|1221ELITE SERVITO...|    MTY|        ABEJA|
|1021PREMIER 4/400...|    MTY|        ABEJA|
|2887PREMIER 4/600...|    MTY|        ABEJA|
|3271PREMIER RENDI...|    MTY|        ABEJA|
|3271PREMIER RENDI...|    MTY|        ABEJA|
|1226PREMIER SERVI...|    MTY|        ABEJA|
|1234PREMIER SERVI...|    MTY|        ABEJA|
|1235PREMIER SERVI...|    MTY|        ABEJA|
|3488ELITE SERVILL...|    MTY|        ABEJA|
|CCG006ZZZ COTIDIA...|    MTY|        CAGSA|
|CCME06ZZZ COTIDIA...|    MTY|        CAGSA|
|HBR008HIG BIG ROL...|    MTY|        CAGSA|
+--------------------+-------+-------------+
only showing top 20 rows